* {
    background-color: #F9EBC7;
}

.dark-olive-green,
.laurel-green,
.corn-silk {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.dark-olive-green {
    background-color: #5F6F52;
    align-items: flex-start;
    justify-content: center;
    display: flex;
}

.laurel-green {
    background-color: #A9B388;
}

.corn-silk {
    background-color: #FEFAE0;
    align;
}