* {
    background-color: #F9EBC7;
}

.dark-olive-green {
    background-color: #5F6F52;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

.laurel-green {
    background-color: #A9B388;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.corn-silk {
    background-color: #FEFAE0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.parent {
    position:relative;
}
